<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h5>Awesome Books</h5>
    </div>
    <div class="col-md-10">
      <ul>
        <li ng-repeat="book in books">
          <a href="#/books/{{book.id}}">{{book.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div hello></div>         <!-- 'A' -->
    <hello></hello>           <!-- 'E' -->
    <div class="hello"></div> <!-- 'C' -->
    <!-- directive:hello -->  <!-- 'M' -->

    <hello-world></hello-world>
    <hello-sen>
      <p>Hello Sen!</p>
    </hello-sen>
    <loader howToLoad="loadData()">Load Data...</loader>
  </div>

  <div class="row">
    <drink flavor="{{ctlFlavor}}"></drink>
  </div>

  <div class="row">
    <label>Controller</label>
    <input type="text" ng-model="ctlSoda"/>
    <label>Directive</label>
    <soda flavor="ctlSoda"></soda>
  </div>

  <div class="row">
    <greeting greet="sayHello(name)"></greeting>
  </div>
</div>
